<?xml version="1.0" ?>


<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

    <module name="SuppressionFilter">
        <property name="file" value="config/checkstyle/suppressions.xml"/>
        <property name="optional" value="false"/>
    </module>

    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>
        <module name="AvoidStarImport"/>
        <module name="EmptyCatchBlock"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InnerAssignment"/>
        <module name="JavadocType">
            <property name="allowUnknownTags" value="true"/>
        </module>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="MultipleStringLiterals"/>
        <module name="NeedBraces"/>
        <module name="OneStatementPerLine"/>
        <module name="PackageAnnotation"/>
        <module name="ParameterNumber"/>
        <module name="RedundantImport"/>

        <module name="TodoComment">
            <property name="severity" value="warning"/>
        </module>

        <module name="VisibilityModifier"/>
    </module>
    <module name="JavadocPackage"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="UniqueProperties"/>
</module>